.about {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)), url(../../assets/img/about-bg.webp);
  background-position: left  center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-blend-mode: lighten;

  
  &__title {
    font-weight: bold;
  }
}