.blog {
  .intro {

    &__title {
      font-weight: bold;
    }
  }

  .card-image {

    overflow: hidden;
  }

  &__img {
    filter: brightness(20%) blur(2px);
    transition: filter .3s ease-in-out;

    @include media('>=tablet') {
      
      .card:hover & {
        filter: brightness(40%) blur(0);
      }
    }
  }

  &__content {
    margin-bottom: 5px;
  }
}