.carousel {
  

  &--img {
    margin-top: 30px;
  }
  &-item {
    --size: 0;
    width: calc((200 + var(--size)) * 1px )!important;
    margin-top: calc(-0.5px * var(--size)) !important;
   

    @include media('>=tablet') {
      --size: 150;
    }
  }

  .carousel-item>img {
    // width: 125%;
  }
}