.services {

  .intro {
    padding-top: 25px;

    &__title {
      font-weight: bold;
    }
    &__desc {
      margin: 20px;
    }
  }

  &__img {
    max-height: 70%!important;

  }

  .card.small  {
    height: 210px;
  }

  .card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
    min-height: 20%;
    padding: 1rem;
  }

  .card-reveal {
    padding-top: 1rem;
    padding-bottom: 0;
    scrollbar-base-color: red;

    .card-title {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 2rem;

      @include media('>=tablet') {
        font-size: 1.6rem;
      }
    }
  }
}