.testimonial {
  margin-top: -40px;
  position: relative;
  z-index: 10;

  .intro {

    &__title {
      font-weight: bold!important;

      @include media('<420px') {
        margin-left: 2vw;
        margin-right: 2vw;
      }
    }

    &__desc {
      margin: 20px;
    }
  }
}