.footer {


  &__social {
    display: flex;
    justify-content: center;

    font-size : 30px;
  }

  &__link {
    

    
    &:not(:last-child) {
      margin-right: 1em;
    }
    
    a {
      color: white;
      transition: color .2s ease-in-out;
  
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__copyright a {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    
    transition: border-bottom-color .2s ease;
    &:hover {
      border-bottom-color: var(--primary-color);
    }
  }
}