.header {
  
  .navbar {
    position: fixed;
    top: 0;
    background-color: hsla(352, 60%, 49%, 0.5);
    z-index: 100;
    transition: top 0.5s, background-color .5s;

    @include media('>=tablet') {
      // position: absolute;
    }
  }

  &__logo {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    filter: invert(1);

    margin-top: 9px;

    @include media('>=tablet') {
      --size: 57px;
      margin-top: 4px;
    }
  }

  .sidenav {
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    li {
      border-bottom: 1px solid darken($color: $primary-color, $amount: 10%)!important;
      // border-bottom: 1px solid white;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    a.important {
      color: white;
      font-size: 1.5rem;
      height: auto;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}