// Importar tipografia
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:300,400,700&display=swap');
/********************* RESET *********************/
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    // font-size: 62.5%;
    scroll-behavior: smooth;
}

// .cards .card {
//     border-bottom-left-radius: 20px;
//     border-bottom-right-radius: 20px;
// }