:root {
  --primary-color: #ff1744;
  --primary-transparent: hsla(348, 100%, 55%, .9);
}
$primary-color: #ff1744;

// Breakpoints
$breakpoints: (
  'phone': 420px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1400px
) !default;

// z-index
$z-last: -99999;